
 <div class="row" >
        <div class="col s8 m8">
            <div class="card-panel " >
                    <div style="display: block;">
                            <canvas baseChart
                            [chartType]="'line'" 
                            [datasets]="lineChartData"
                            [labels]="date"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                    </div>     
            </div>
        </div>


        <div class="col s4 m4">
            <div class="card-panel " >
                    <mwl-gauge 
                    [max]="100"
                    [dialStartAngle]="-90"
                    [dialEndAngle]="-90.001"
                    [value]="message[5]"
                    [animated]="true"
                    [animationDuration]="1">
                  </mwl-gauge>
            </div>
        </div>
    </div>
